bin
venv/
__pycache__/
build/
release/
records/
result/
samples/
logs/
results/
backup/
cmake-build-debug/
.idea/
*.fc32
*.log
*.pcap
*.pyc
wireshark_generic_dissector_traces.txt
credentials/
auth_req.bin
mib.raw
sib1.raw
rrc_setup.raw
samples.json
samples.txt
core.*
compare_result.csv
cfo_search*.csv
pcap_compare.csv
evaluation_backup/
*.so
fdd/
tdd/
.cache/

